/*h1, h2, h3, h4, h5, h6,  */
/*h4, author, date {
    text-align: center;
  }*/

body {
  text-align: left;
  font-size: large;
  margin: 4% 12% 8% 12%;
  font-family: Monserrat, Product Sans, sans-serif;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fbf1c7;
    color: #282828;
  }
  input[type=checkbox][disabled]{
    filter: invert(95%) brightness(3.5);
  }
  table, tbody, tr, thead, th, td {
		border: 1px solid black;
	}
}

@media (min-width:1281px) {
	.leftdiv { width: 600px; float: left; }
	.rightdiv { margin-left: 800px; }
}


@media screen and (prefers-color-scheme: dark) {
  input[type=checkbox][disabled]{
    filter: invert(100%) hue-rotate(18deg) brightness(4);
  }
	body {
		text-align: left;
		font-size: large;
		margin: 4% 8% 4% 8%;
		background-color: #282828;
		color: #ebdbb2;
		font-size: 14pt
	}
/* 
	h1, h2, h3 {
		filter: drop-shadow(4px 3px 0px #7c6f64);
	} */

	a:link { color: #8ec07c; }
	a:visited { color: #d3869b; }
	a:hover { color: #fe8019; }
	a:active { color: #83a598; }

	::-webkit-scrollbar { width: 10px; height: 10px; background: #ebdbb2; }
	::-webkit-scrollbar-corner { background: #ebdbb2; }
	::-webkit-scrollbar-track { background: #282828; box: inset 0 0 5px #ebdbb2; }
	::-webkit-scrollbar-thumb { background: #ebdbb2; }
	::-webkit-scrollbar-thumb:hover { background: #d5c4a1; }

  table, tbody, tr, thead, th, td {
		border: 1px solid #b3a688;
	}
}



/* #footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;            // Footer height 
} */