body {
  text-align: left;
  font-size: large;
  margin: 4% 12% 8% 12%;
  font-family: Montserrat, Product Sans, sans-serif;
}

/*** LIGHT MODE ***/
@media screen and (prefers-color-scheme: light) {
  div.tooltip {
    display: inline;
    display: none;
  }
  body {
    background-color: #fbf1c7;
    color: #282828;
  }
  input[type="checkbox"][disabled] {
    filter: invert(95%) brightness(3.5);
  }
  table,
  tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    text-align: center;
  }
  hr {
    display: block;
    border-top: 3px solid #282828;
    margin: 1em 0;
    padding: 0;
  }
}

/*** MOBILE ***/
@media (min-width: 1281px) {
  .leftdiv {
    width: 600px;
    float: left;
  }
  .rightdiv {
    margin-left: 800px;
  }
}

/*** DARK MODE ***/
@media screen and (prefers-color-scheme: dark) {
  input[type="checkbox"][disabled] {
    filter: invert(100%) hue-rotate(18deg) brightness(4);
  }

  div.tooltip {
    display: inline;
    font-size: 10;
    color: #ff7b29;
  }

  [data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 6px;
    color: rgb(40, 40, 40);
    border-radius: 10px;
  }

  [data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    color: rgb(40, 40, 40);
    background: #fbf1c7;
    margin-top: -7px;
    margin-left: 0px;
  }

  body {
    text-align: left;
    font-size: large;
    margin: 4% 8% 4% 8%;
    background-color: #282828;
    color: #ebdbb2;
    font-size: 14pt;
  }

  hr {
    display: block;
    border-top: 3px solid #d5c4a1;
    margin: 1em 0;
    padding: 0;
  }

  a:link {
    color: #8ec07c;
  }
  a:visited {
    color: #d3869b;
  }
  a:hover {
    color: #fe8019;
  }
  a:active {
    color: #83a598;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ebdbb2;
  }
  ::-webkit-scrollbar-corner {
    background: #ebdbb2;
  }
  ::-webkit-scrollbar-track {
    background: #282828;
    box: inset 0 0 5px #ebdbb2;
  }
  ::-webkit-scrollbar-thumb {
    background: #ebdbb2;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d5c4a1;
  }

  table,
  tr,
  td,
  th {
    border: 1px solid #b3a688;
    border-collapse: collapse;
  }

  th {
    text-align: center;
  }
}
